{:webapp {:location #_"http://localhost:8010" "http://intrepid-pride-830.appspot.com"
          :port #_8010 80
          }

 :auth-server {:location "http://localhost:8020"
               :port 8020}

 :resource-server {:location "http://localhost:8030"
                   :port 8030}
 :github-oauth-client {:id "bd0e7c94997ee2e36a41"
                :secret "85b0a8c9fa9caf2d297d03e12dff14e0ffc5d2fe"
                :scopes #{"user"}
                :authorize-uri "https://github.com/login/oauth/authorize"
                :access-token-uri "https://github.com/login/oauth/access_token"}

 :oauth-client {:scopes #{"https://www.googleapis.com/auth/calendar.readonly" "https://www.googleapis.com/auth/userinfo.profile"}
                  :id "817533269951-0490104ret2fvkjig8nq5l6jvh05k4gn.apps.googleusercontent.com"
                  :secret "UKH7s5uW2Is0hFJxdTMMEy4H"
                  :authorize-uri "https://accounts.google.com/o/oauth2/auth"
                  :access-token-uri "https://accounts.google.com/o/oauth2/token"}
 }
