<div class="wrapper wrapper-hero wrapper-hero-login">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center-block">
        <div id="simple-message">
          <h2 >Email verified</h2>
          <p>Thank you for verifying your email address: {{email}}.</p>
        </div>
      </div>
    </div>
  </div>
</div>
