<div class="wrapper wrapper-hero wrapper-hero-login">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center-block">
        <div id="simple-message">
    	<h3 class="logo-text">Cylon Oauth2 / Reset password link sent </h3>
          <p>We've found your details and sent a password reset link to {{email}}.</p>
        </div>
      </div>
    </div>
  </div>
</div>
